h1
  span m
  span o
  span m
  span o
  span c
  span l
  span o
  span(style="color:#FF0000") o
  span(style="color:#00FF00") o
  span(style="color:#FFFF00") o
  span(style="color:#FF00FF") o
  span(style="color:#800080") o
  span p
  span !
div(id="left")
  div(id="player")
  div(id="info")
    div(id="title")
    div
      span(id="time")
      &nbsp;/
      span(id="duration")
div(id="comments")
  div 接続:
    span(id="connection")
  form(id="comment")
    input(type="text", id="message")
    input(type="submit", value="送信")
  div(id="messages")
div(id="footer")
  span created by 
    a(href="http://twitter.com/#!/sugyan", target="_blank") @sugyan
