h1 momocloop!
div(id="left")
  div(id="player")
  div(id="info")
div(id="comments")
  div 接続:
    span(id="connection")
  form(id="comment")
    input(type="text", id="message")
    input(type="submit", value="送信")
  div(id="messages")
div(id="footer")
  span created by 
    a(href="http://twitter.com/#!/sugyan", target="_blank") @sugyan
