div.body
  h2 Live!
  div#live.room
    div.image
    div.info 現在再生中の動画:&nbsp;
      span.title
      dl
        dt 説明:
        dd.description
        dt 作成日:
        dd.created
        dt 再生中:
        dd
          span.nowplaying
          &nbsp/
          span.duration
        dt 接続数:
        dd.connections
