div
  p
    a(href="http://www.ustream.tv/channel/momoclotv", target="_blank") USTREAM: momocloTV: 今、一番のかぶきもの「ももいろクローバー」がＬＩＶＥする. 
    のアーカイブをランダムに再生し、同時に接続している人どうしが同じ動画の同じタイミングを視聴できるようにしました。
  p ネットワーク環境などによってはうまく同期できないかもしれません。ごめんなさい。
h2 ライブ部屋
div#live.room
  div.image
  div.info 現在再生中の動画:&nbsp;
    span.title
    dl
      dt 説明:
      dd.description
      dt 作成日:
      dd.created
      dt 再生中:
      dd
        span.nowplaying
        &nbsp/
        span.duration
      dt 接続数:
      dd.connections

h2 トーク部屋
div#talk.room
  div.image
  div.info 現在再生中の動画:&nbsp;
    span.title
    dl
      dt 説明:
      dd.description
      dt 作成日:
      dd.created
      dt 再生中:
      dd
        span.nowplaying
        &nbsp/
        span.duration
      dt 接続数:
      dd.connections
