h1= title
div(id="left")
  div(id="player")
  div(id="info")
div(id="comments")
  div 接続:
    span(id="connection")
  form(id="comment")
    input(type="text", id="message")
    input(type="submit", value="送信")
  div(id="messages")
