h1= title
div(id="left")
  div(id="player")
  div(id="info")
div(id="comments")
  form(id="comment")
    input(type="text", id="message")
    input(type="submit", value="submit")
  div(id="messages")
