!!!
html
  head
    title momocloop
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="/javascripts/lib/jquery-1.6.3.min.js")
    script(type="text/javascript", src="/javascripts/lib/swfobject.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/momoclo.js")
  body
    div(id="header")
      h1
        span m
        span o
        span m
        span o
        span c
        span l
        span o
        span(style="color:#FF0000") o
        span(style="color:#00FF00") o
        span(style="color:#FFFF00") o
        span(style="color:#FF00FF") o
        span(style="color:#800080") o
        span p
        span !
      div(id="user")
        - if (locals.session.user)
          span(id="username") #{locals.session.user.screen_name}
          a(href="/signout") sign out
        - else
          a(href="/signin")
            img(src="/images/sign-in-with-twitter-d.png")
    div(id="body")!= body
