- var title = locals.title || '';
!!!
html
  head
    title #{title}momocloop (#momoclo ustream archive viewer)
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="http://platform.twitter.com/anywhere.js?id=#{twitter_api_key}&v=1")
    script(type="text/javascript", src="/javascripts/lib/jquery-1.6.3.min.js")
    script(type="text/javascript", src="/javascripts/lib/swfobject.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/momoclo.js")
  body
    div#header
      h1
        a(href="/")
          span m
          span o
          span m
          span o
          span c
          span l
          span o
          span(style="color:#FF0000") o
          span(style="color:#00FF00") o
          span(style="color:#FFFF00") o
          span(style="color:#FF00FF") o
          span(style="color:#800080") o
          span p
          span !
      div#user
        - if (session.user)
          span.username hello, @#{session.user.screen_name}.
          a(href="/signout") sign out
        - else
          a(href="/signin")
            img(src="/images/sign-in-with-twitter-d.png")
    div#body!= body
    div#footer
      div#social
        div#twitter
          a.twitter-share-button(href="http://twitter.com/share", data-count="horizontal", data-via="sugyan", data-lang="ja") ツイート
          script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
        div#facebook
          div#fb-root
          script
            (function(d){
            var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js#appId=149008751857045&xfbml=1";
            d.getElementsByTagName('head')[0].appendChild(js);
            }(document));
          div.fb-like(data-href="http://momoclo.no.de/", data-send="false", data-width="450", data-show-faces="true")
      span#author created by @
        a(href="http://twitter.com/#!/sugyan", target="_blank") sugyan
