div#left
  div#player
  div#display
  div#buttons
    button#a(style="color:#FF00FF;") あーりん
    button#m(style="color:#00FF00;") ももか
    button#k(style="color:#FF0000;") かなこ
    button#s(style="color:#FFFF00;") しおりん
    button#r(style="color:#800080;") れにちゃん
    br
    button#u(style="color:#808080;") うりゃ
    button#o(style="color:#808080;") おい
  div#info
    div#title
    div#description
    div#created
    div
      span#time
      &nbsp;/
      span#duration
div#comments
  div 接続:
    span#connection
  form#comment
    input#message(type="text")
    input(type="submit", value="送信")
  div#messages
