div#left
  div#player
  div#display
  div#buttons
    button#a.z(style="color:#FF00FF;") あーりん
    button#m.z(style="color:#00FF00;") ももか
    button#k.z(style="color:#FF0000;") かなこ
    button#s.z(style="color:#FFFF00;") しおりん
    button#r.z(style="color:#800080;") れにちゃん
    button#h(style="color:#0000FF;display:none;") あかりん
    br
    button#u.z(style="color:#404040;") うりゃ
    button#o.z(style="color:#404040;") おい
  div#info
    div#title
    div#description
    div#created
    div
      span#time
      &nbsp;/
      span#duration
div#comments
  div 接続:
    span#connection
  form#comment
    input#message(type="text")
    input(type="submit", value="送信")
  div#messages
