body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div#left {
    float: left;
}

div#comments {
    margin-left: 500px;
}
span#connection {
    margin-left: 5px;
    color: purple;
}
form#comment input[type="text"] {
    width: 250px;
}
form#comment input[type="submit"] {
    margin-left: 5px;
}
div#messages {
    margin-top: 10px;
}
div.message {
    height: 22px;
}
div.message span.date {
    color: gray;
    font-size: small;
}
div.message span.name {
    color: blue;
    margin-left: 5px;
}
div.message span.text {
    margin-left: 5px;
}
