body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:visited {
    color: blue;
}

div#header {
    height: 70px;
}
div#header h1 {
    float: left;
}
h1 a, h1 a:visited {
    color: black;
    text-decoration: none;
}
div#header div#user {
    padding-top: 30px;
    text-align: right;
}
div#header span#username {
    margin-right: 10px;
}

div.room {
    height: 240px;
}
div.room .image {
    float: left;
}
div.room .info {
    margin-left: 340px;
}
div.room .info .title {
    font-size: larger;
    font-weight: bold;
}
div.room dl {
}
div.room dl dt {
    float: left;
    width: 4em;
}
div.room dl dd {
    margin: 0.7em 5em;
}

div#left {
    float: left;
}
div#info {
    text-align: right;
}

div#comments {
    margin-left: 500px;
}
span#connection {
    margin-left: 5px;
    color: purple;
}
form#comment input[type="text"] {
    width: 250px;
}
form#comment input[type="submit"] {
    margin-left: 5px;
}
div#messages {
    margin-top: 10px;
}
div.message span.date {
    color: gray;
    font-size: small;
}
div.message span.name {
    color: blue;
    margin-left: 5px;
}
div.message span.text {
    margin-left: 5px;
}

div#footer #social {
    clear: both;
    padding-top: 20px;
}
div#footer #social > div {
    float: left;
}

div#footer #author {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
