body {
    padding-top: 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
img {
    border: none;
}

/* navbar */

.navbar h3 {
    font-family: 'Terminal Dosis', sans-serif;
}
.navbar a.not-login img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: bottom;
}
.navbar a.login img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: top;
}

/* header */

header {
    background-color: #FFCCFF;
}
header .inner {
    padding: 36px 0 27px;
}
header h1 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
header p {
    margin: 10px 0;
}

/* index */

div.body {
    margin: 20px 0;
}

/* player */

div.room {
    height: 240px;
}
div.room .image {
    float: left;
}
div.room .info {
    margin-left: 340px;
}
div.room .info .title {
    font-size: larger;
    font-weight: bold;
}
div.room dl {
}
div.room dl dt {
    float: left;
    width: 4em;
}
div.room dl dd {
    margin: 0.7em 5em;
}

div#left {
    float: left;
}
div#left #display {
    height: 130px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
div#left #display .call {
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
}
div#left #buttons {
    text-align: center;
}
div#left button {
    width: 82px;
    margin: 3px;
    padding: 5px 6px 6px;
    text-shadow: gray 1px 1px 1px;
    font-weight: bold;
}
div#left button.z {
    width: 115px;
}
div#left button.z .keyhint {
    color: gray;
    margin-left: 5px;
    text-shadow: none;
}
div#info {
    margin-top: 10px;
}

span#connection {
    margin-left: 5px;
    color: purple;
}
form#comment {
    margin-bottom: 0;
}
dl#messages {
    height: 600px;
    width: auto;
    margin-top: 10px;
    overflow: auto;
}
dt.message.info span.date {
    color: gray;
    font-size: small;
}
dt.message.info span.name {
    color: blue;
    margin-left: 5px;
    font-size: small;
}
dd.message.text {
    margin-left: 5px;
    margin-bottom: 5px;
}

/* footer */

footer.footer {
    margin-top: 45px;
    padding: 25px 0 26px;
    border-top: 1px solid #E5E5E5;
}
footer.footer #social {
    clear: both;
}
footer.footer #social > div {
    float: left;
    margin-right: 10px;
}
